@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

#styleButtons {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.blue{
    color: #013243;
}

body {
    color: #282a36  ;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Kosugi Maru', sans-serif;
    font-size: .8em;
    background-color: #ffffff;

}

p {
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
}

.closingP {
    color:  #282a36;
    font-weight: 200;
    font-size: 22px;
    padding-bottom: 20px
}

.sections {
    padding: 50px 0px 0px 0px;
}

.sections p {
    font-size: 18px;
}



.container-fluid {
    background-color: #ffffff;
    min-height: 99vh;
    max-height: 100vh;
    display: flex;
    margin-top: 5vh; 
}

h1 {
    color: #282a36;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
}

h2 {
    color: #282a36;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 25px;
    margin-top: -5px;
}

h3 {
    color: #282a36;
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    font-size: 20px;
    margin-top: -5px;
}

.links {
    margin: 0 0 1.5em 0;
}

.links a {
    margin: auto 1em auto 0;
    font-size: 18px;
    color: #1E3661;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    font-weight: 600;
}

.about {
    padding-bottom: 10px;
    padding-top: 10px;
}

.about a {
    color: orange;
}

.about p {
    font-size: 18px;
}

/* collapse */

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
    background-color: transparent;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}

.jobTitle {
    color: #7A4E00;
}

.jobDate {
    color: #0A6632;
}

.jobDesc {
    color: #282a36;
}

/* Footer */

#myFooter {
    background-color: #013243;
    color: #282a36;
}

#myFooter .footer-copyright {
    background-color: #013243;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #282a36;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: #282a36;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #282a36;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #282a36;
}

#myFooter .myCols {
    text-align: center;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #282a36;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}